Prueba Web Service/App_WebReferences/ServicioCompras/WebService_Compras.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CerrarOrdenCompra">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_cabecera_orden_compra" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="id_usuario_cambio" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CerrarOrdenCompraResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CerrarOrdenCompraResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CerrarOrdenCompraSoapIn">
    <wsdl:part name="parameters" element="tns:CerrarOrdenCompra" />
  </wsdl:message>
  <wsdl:message name="CerrarOrdenCompraSoapOut">
    <wsdl:part name="parameters" element="tns:CerrarOrdenCompraResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService_ComprasSoap">
    <wsdl:operation name="CerrarOrdenCompra">
      <wsdl:input message="tns:CerrarOrdenCompraSoapIn" />
      <wsdl:output message="tns:CerrarOrdenCompraSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService_ComprasSoap" type="tns:WebService_ComprasSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CerrarOrdenCompra">
      <soap:operation soapAction="http://tempuri.org/CerrarOrdenCompra" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService_ComprasSoap12" type="tns:WebService_ComprasSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CerrarOrdenCompra">
      <soap12:operation soapAction="http://tempuri.org/CerrarOrdenCompra" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService_Compras">
    <wsdl:port name="WebService_ComprasSoap" binding="tns:WebService_ComprasSoap">
      <soap:address location="http://localhost:2859/WebService_Compras.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService_ComprasSoap12" binding="tns:WebService_ComprasSoap12">
      <soap12:address location="http://localhost:2859/WebService_Compras.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>